<!DOCTYPE html>
<html>
<head>
    <title>AI Text Detector</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>AI🤖 Vs Human🤵 Essay📜 Detector🔎</h1>
    <form action='/predict', method="post">
        <textarea id="essay" name="essay" rows="20" cols="95" placeholder = "Type your essay or text here..." required></textarea>
        <br><br>
    <div class="btn">
    <button type="button" onclick="copyText()">Copy</button>
    <button type="submit">Check</button>
    <button type="button" onclick="clearText()">Clear</button>
    </div>

    </form>

    <div id="result" class="result-box" style="display: none;">
        <h2>Prediction:</h2>
        <p id="prediction-text"></p>
    </div>

<script src =" {{url_for('static', filename='script.js') }} "> </script>
    
</body>
</html>
